<div class="Datablock">
<div class="shadow-lg p-3 mb-5 bg-white">

  <div class="row">
    <div class="col">
      <ul>
      <li><h5>Popular Topics</h5></li>
        <li>Motivational</li>
        <li>Happiness</li>
        <li>Life</li>
        <li>Smile</li>
        <li><button class="btn btn-primary  btn-sm">More Topics</button></li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li><h5>Popular Authors</h5></li>
        <li>abc</li>
        <li>pqr</li>
        <li>xyz</li>
        <li>mno</li>
        <li><button class="btn btn-primary btn-sm">More Authors</button></li>

      </ul>
    </div>
  </div>
</div>
</div>
<div class="Randomquote">
  Random 4 Quotes
</div>
<app-footer-tab></app-footer-tab>
