<div class="tabs">
  <div class="shadow-lg">
  <div class="row">
    <div class="col">
      <ul>
        <li>AboutUs</li>
        <li> Contact</li>

      </ul>
    </div>
    <div class="col">
      <ul>
        <li>Privacy</li>
        <li>Terms and Conditions</li>

      </ul>
    </div>
    <div id="aligned" class="col">
      <ul>
          <li id="first"><i class="fa fa-twitter-square"></i>Follow us on Twitter</li>
          <li id="second"><i class="fa fa-facebook-square"></i>Follow us on Facebook</li>
          <li id="third"><i class="fa fa-Instagram"></i>Follow us on instagram</li>
      </ul>
    </div>
  </div>
</div>
  <div><p>Copyright@DailyQuotes</p></div>
</div>
